@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3498db;
  --secondary: #f1c40f;
  --background: #ffffff;
  --text: #333333;
}

body {
  @apply bg-background;
  @apply text-text;
}

header {
  @apply bg-primary;
  @apply text-white;
}

main {
  @apply h-full;
  @apply w-full;
}

.hero_image {
  @apply bg-hero_image;
  @apply bg-cover;
  @apply bg-center;
}

.call_to_action {
  @apply bg-primary;
  @apply text-white;
  @apply rounded-lg;
  @apply hover:bg-secondary;
}

.text_block {
  @apply text-text;
  @apply font-medium;
}

/* Add custom styles here */