# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# VS Code
.vscode/

# macOS
.DS_Store

#logs
backend/logs

# Runtime document uploads
backend/uploads/

# Local OAuth credentials
backend/mcp_server/credentials/client_secret.json

#db
backend/test.db
