# App Configuration
APP_NAME="Test Case Generator"
APP_ENV=development
DEBUG=true

# Database (Leave empty to use the local docker postgres service)
DATABASE_URL=
# Redis (Leave empty to use the local docker redis service)
REDIS_URL=

# LLM Keys
GROQ_API_KEY="your-groq-api-key"
CEREBRAS_API_KEY="your-cerebras-api-key"
