@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3498db;
  --secondary: #f1c40f;
  --background: #f9f9f9;
  --text: #333333;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --corners-small: 2px;
  --corners-medium: 4px;
  --corners-large: 8px;
}

body {
  @apply bg-background;
  @apply text-text;
}

header {
  @apply bg-primary;
  @apply text-white;
}

main {
  @apply flex-1;
  @apply overflow-y-auto;
}

footer {
  @apply bg-primary;
  @apply text-white;
}

ul {
  @apply list-none;
  @apply p-0;
  @apply m-0;
}

li {
  @apply mb-4;
  @apply rounded;
  @apply bg-white;
  @apply p-4;
  @apply shadow-md;
}

h1, h2, h3 {
  @apply font-bold;
}

h1 {
  @apply text-lg;
}

h2 {
  @apply text-lg;
}

h3 {
  @apply text-lg;
}